[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
redis = "*"
httpx = "*"
requests = "*"
tortoise-orm = "*"
asyncpg = "*"
aerich = "*"
pydantic = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
ipython = "*"

[requires]
python_version = "3.10"
